@media(max-width: 768px){
    header{
        height: 50px;
        border-bottom: 1px solid #eee;
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #fff;
        .avatar{
            a{
                font-family: 'Caveat', cursive;
                font-size: 23px;
                color: #28646e !important;
            }
        }
        .about{
            position: absolute;
            font-size: 25px;
            right: 20px;
        }
    }
}
@media(min-width: 768px){
    
}