.open-source{
    margin-top: 20px;
    text-align: center;
}
.open-source-text{
    width: 100%;
    display: block;
    text-decoration: none !important;
    box-shadow: none;
    text-align: center;
}
.about{
    ul{
        margin: 0;
        padding: 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
            margin-left: 20px;
        }
        // text-align: c;
    }
}