.open-source{
    margin-top: 20px;
    text-align: center;
}
.open-source-text{
    width: 100%;
    display: block;
    text-decoration: none !important;
    box-shadow: none;
    text-align: center;
}