@media(max-width: 768px){
    .switcher{
        height: 50px;
        width: 100vw;
        position: fixed;
        bottom: 0;
        border-top: 1px solid hsl(189, 47%, 29%);
        z-index: 999;
        background-color: #27626d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 5px 0px 5px;
        overflow-x: scroll;
        color: #fff;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        div{
            margin-left: 15px;
            white-space: nowrap;
        }
        div:hover{
            background-color: #28646e;
            color: #fff;
        }
    }
}
@media(min-width: 768px){
    
}